<template>
  <v-container fluid>
    <v-row v-if="$route.meta.preview">
      <v-alert type="info" width="100%" class="mx-4">
        This page is currently only a preview. No one else can see it.
        <router-link class="white--text" :to="{name: 'write-blog-id', params: {id: $route.params.id}}">Back to editor
        </router-link>
      </v-alert>
    </v-row>
    <v-row>
      <v-col cols="9" offset="3" class="text-center">
        <span class="display-3 font-weight-medium">{{ blog.title }}</span>
      </v-col>
    </v-row>
    <v-row class="mb-5">
      <v-col cols="3">
        <div id="side-container">
          <v-card>
            <v-img
                :src="blog.cover"
                width="100%"
                height="100%"
                :aspect-ratio="5/7"
                class="pa-6"
            >
            </v-img>
          </v-card>
          <div class="text-center pt-5">
            <span class="text-uppercase">By</span>
            <br/>
            <span class="font-weight-bold display-1">{{ blog.author }}</span>
            <br/>
            <span class="font-italic">({{ blog.date }})</span>
          </div>
        </div>
      </v-col>
      <!--      <v-col cols="9" style="height: calc(100vh - 244px)">-->
      <v-col cols="9">
        <v-btn x-large
               width="100%"
               color="primary"
               class="mb-2"
               v-if="teams.length === 1"
               :to="{name: 'team', params: {id: teams[0].id}}">
          View this team
        </v-btn>
        <v-btn x-large
               width="100%"
               color="primary"
               class="mb-2"
               v-if="teams.length === 2"
               :to="{name: 'compare', query: {team1: teams[0].id, team2: teams[1].id}}">
          View our prediction for this match
        </v-btn>
        <v-chip
            class="ma-2"
            color="orange"
            v-for="tag in blog.tags"
            :key="tag.id"
            dark
            @click="searchNews(tag)"
        >
          <v-avatar left v-if="tag.type==='sport'">
            <v-icon>mdi-gamepad-variant</v-icon>
          </v-avatar>
          <v-avatar left v-if="tag.type==='team'">
            <v-icon>mdi-account</v-icon>
          </v-avatar>
          {{ tag.name }}
        </v-chip>
        <!--        <div style="overflow: auto; height: 100%">-->
        <div id="content" class="pa-3" v-html="escapedContent">

        </div>

        <div class="px-3">
          Do you have some interesting ideas too ? Start sharing them by
          <a href="/contribute">Contributing now !</a>
        </div>

        <Disqus shortname="sasep"/>
        <!--        </div>-->
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import router from "@/router";
import axios from "axios";
import {Disqus} from 'vue-disqus/src'

export default {
  name: "Blog",
  components: {
    Disqus
  },
  data() {
    return {
      blog: {},
    }
  },
  mounted() {
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/news/" + this.$route.params.id)
         .then(response => this.blog = response.data)
         .catch(error => console.error(error));
  },
  methods: {
    searchNews(tag) {
      let query = {};
      query[tag.type] = tag.id;
      router.push({
                    name: "news",
                    query: query
                  })
    }
  },
  computed: {
    escapedContent() {
      return this.blog
                 .content
                 .split("<").join("&lt;")
                 .split(">").join("&gt;")
                 .split("\n").join("<br/>");
    },
    teams() {
      return this.blog.tags.filter(tag => tag.type === "team")
    }
  }
}
</script>

<style scoped>
  #content {
    text-align: justify;
  }

  #side-container {
    position: fixed;
    width: calc(25% - 24px)
  }
</style>