<template>
  <v-container fluid>
    <v-row>
      <v-col class="team-cell">
        <h2>{{ team1.name }}</h2>
        <v-img :src="team1Logo" aspect-ratio="1" contain></v-img>
        <v-btn class="primary" @click.stop="showChangeTeam1=true" id="change-team-1">Change</v-btn>
        <select-team-dialog v-model="showChangeTeam1" :on-team-selected="changeTeam1"></select-team-dialog>
      </v-col>
      <v-col cols="7">
        <v-container class="heading">
          <v-row justify="center" align="center">
            <h1>Win chance based on ELO</h1>
          </v-row>
        </v-container>

        <div class="d-flex flex-wrap comparison elevation-1">
          <v-container class="green flex-container" :style="{width: team1WinChance + '%'}">
            <v-row align="center">
              <span class="white--text" id="team-1-chance">{{ team1WinChance }}%</span>
            </v-row>
          </v-container>
          <v-container class="light-green flex-container" :style="{width: team2WinChance + '%'}">
            <v-row justify="end" align="center">
              <span class="white--text" id="team-2-chance">{{ team2WinChance }}%</span>
            </v-row>
          </v-container>
        </div>
      </v-col>
      <v-col class="team-cell">
        <h2>{{ team2.name }}</h2>
        <v-img :src="team2Logo" aspect-ratio="1" contain></v-img>
        <v-btn class="primary" @click.stop="showChangeTeam2=true" id="change-team-2">Change</v-btn>
        <select-team-dialog v-model="showChangeTeam2" :on-team-selected="changeTeam2"></select-team-dialog>
      </v-col>
    </v-row>
    <v-row>
      <v-col offset="1" cols="5">
        <h2 class="text-center mb-3">Players</h2>
        <v-simple-table class="player-list elevation-1">
          <template v-slot:default>
            <thead>
            <tr>
              <th class="text-left">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="player in team1Players" :key="player.id">
              <td>{{ player.name }}</td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
      <v-col cols="5">
        <h2 class="text-center mb-3">Players</h2>
        <v-simple-table class="player-list elevation-1">
          <template v-slot:default>
            <thead>
            <tr>
              <th class="text-left">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="player in team2Players" :key="player.id">
              <td>{{ player.name }}</td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'
import router from "@/router";
import SelectTeamDialog from "@/components/SelectTeamDialog";

export default {
  name: "CompareTeams",
  components: {SelectTeamDialog},
  data: () => ({
    team1WinChance: 50,
    team2WinChance: 50,
    team1: {name: "No Team"},
    team2: {name: "No Team"},
    team1Players: [],
    team2Players: [],
    showChangeTeam1: false,
    showChangeTeam2: false,
  }),
  methods: {
    changeTeam1(team1) {
      router.push({
                    path: "/compare",
                    query:
                      {
                        team1: team1.id,
                        team2: this.$route.query.team2
                      }
                  })
    },
    changeTeam2(team2) {
      router.push({
                    path: "/compare",
                    query:
                      {
                        team1: this.$route.query.team1,
                        team2: team2.id
                      }
                  })
    },
    requestData() {
      if (this.$route.query.team1 && this.$route.query.team2) {
        axios.post(process.env.VUE_APP_SASEP_API_URL + "/compare/elo",
                   {
                     "team-1-id": this.$route.query.team1,
                     "team-2-id": this.$route.query.team2
                   })
             .then(response => {
               let data = response.data;
               if (data.winner === 0) {
                 this.team1WinChance = (data.result * 100).toFixed(2);
                 this.team2WinChance = (100 - data.result * 100).toFixed(2);
               } else {
                 this.team1WinChance = (100 - data.result * 100).toFixed(2);
                 this.team2WinChance = (data.result * 100).toFixed(2);
               }

             })
             .catch(error => console.error(error));
      }
      if (this.$route.query.team1) {
        axios.get(process.env.VUE_APP_SASEP_API_URL + "/teams/" + this.$route.query.team1)
             .then(response => this.team1 = response.data)
             .catch(error => console.error(error));
        axios.get(process.env.VUE_APP_SASEP_API_URL + "/teams/" + this.$route.query.team1 + "/players")
             .then(response => this.team1Players = response.data)
             .catch(error => console.error(error));
      }
      if (this.$route.query.team2) {
        axios.get(process.env.VUE_APP_SASEP_API_URL + "/teams/" + this.$route.query.team2)
             .then(response => this.team2 = response.data)
             .catch(error => console.error(error));
        axios.get(process.env.VUE_APP_SASEP_API_URL + "/teams/" + this.$route.query.team2 + "/players")
             .then(response => this.team2Players = response.data)
             .catch(error => console.error(error));
      }
    }
  },
  created() {
    this.requestData();
  },
  computed: {
    team1Logo() {
      return this.team1.logo ? (process.env.VUE_APP_IMAGE_BASE_URL + this.team1.logo) : require('../assets/images/default.svg')
    },
    team2Logo() {
      return this.team2.logo ? (process.env.VUE_APP_IMAGE_BASE_URL + this.team2.logo) : require('../assets/images/default.svg')
    }
  },
  watch: {
    '$route.query.team1'() {
      this.requestData();
    },
    '$route.query.team2'() {
      this.requestData();
    }
  }
}
</script>

<style scoped>

  .heading {
    width: 100%;
    height: 50%;
  }

  .heading > .row {
    height: 100%
  }

  .heading h1 {
    text-decoration: underline;
  }

  .flex-container {
    height: 100%;
    padding: 0;
  }

  .flex-container > .row {
    height: 100%
  }

  .flex-container span {
    margin: 0 15px;
    font-size: 2vw;
  }

  .comparison {
    height: 25%;
  }

  .comparison span {
    z-index: 2;
  }

  .team-cell {
    text-align: center;
  }

  .team-cell > button {
    margin-top: 10px;
  }

  .player-list {
    margin: 0 10%
  }
</style>