<template>
  <v-container fluid>
    <v-row>
      <v-col cols="8" offset="2" class="text-center">
        <p class="mt-5 mb-3 display-1">Your Blogs</p>
        <v-simple-table class="elevation-1">
          <template v-slot:default>
            <tbody>
            <tr>
              <td class="text-left subtitle-1">Write a new post ...</td>
              <td class="text-right btn-cell">
                <v-btn color="success"
                       tile
                       dark
                       width="120px"
                       :to="{name: 'write-blog'}"
                >
                  <v-icon>mdi-pencil</v-icon>
                  Write
                </v-btn>
              </td>
              <td></td>
            </tr>
            <tr v-for="(post,i) in posts" :key="i">
              <td class="text-left subtitle-1">{{ post.title }}</td>
              <td class="text-right btn-cell">
                <v-btn color="warning"
                       tile
                       dark
                       width="120px"
                       :to="{name:'write-blog-id', params: {id: post.id}}"
                >
                  <v-icon>mdi-pencil</v-icon>
                  Edit
                </v-btn>
              </td>
              <td class="text-right btn-cell">
                <v-btn color="info"
                       tile
                       dark
                       width="120px"
                       :to="{name:'article', params: {id: post.id}}"
                >
                  <v-icon>mdi-open-in-new</v-icon>
                  Open
                </v-btn>
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "ContributedBlogs",
  data() {
    return {
      posts: [],
    }
  },
  mounted() {
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/contribution/news/?simple=true&no-cover=true")
         .then(response => this.posts = response.data)
         .catch(error => console.error(error));
  },
}
</script>

<style scoped>
  .btn-cell {
    width: 0;
  }
</style>