<template>
  <image-grid class="pa-1" :items="items" :on-item-selected="openPage"></image-grid>
</template>

<script>
import axios from "axios";
import ImageGrid from "@/components/ImageGrid";
import router from "@/router";

export default {
  name: "Home",
  components: {ImageGrid},
  data() {
    return {
      items: [],
      one: [],
      two: [2, 2]
    }
  },
  mounted() {
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/sports")
         .then(response => this.items = this.items.concat(response.data))
         .catch(error => console.error(error));
    // TODO update URL when API is available
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/sports/1/teams")
         .then(response => {
           this.items = this.items.concat(response.data);
           this.items.sort(() => Math.random() - 0.5);
         })
         .catch(error => console.error(error));
  },
  methods: {
    openPage(item) {
      if (item.imageUrl) {
        router.push({name: "teams", query: {sportId: item.id}})
      } else {
        router.push({name: "team", params: {id: item.id}})
      }
    }
  }
}
</script>

<style scoped>

</style>