<template>
  <div>
    <v-row class="news-row px-6">
      <v-card width="100%" color="primary" dark
      >
        <v-container fluid class="py-0">
          <v-row justify="start" align="center">
            <v-col cols="1">
              <h3>Filter:</h3>
            </v-col>
            <v-col cols="2" class="py-0">
              <v-select label="Sport"
                        :items="sports"
                        item-text="name"
                        item-value="id"
                        v-model="selectedSport"
                        @change="updateQuery">
              </v-select>
            </v-col>
            <v-col cols="2" class="py-0">
              <v-autocomplete label="Team"
                              :items="teams"
                              item-text="name"
                              item-value="id"
                              v-model="selectedTeam"
                              @change="updateQuery">
              </v-autocomplete>
            </v-col>

            <v-col cols="1" offset="5">
              <h3>Sort:</h3>
            </v-col>
            <v-col cols="1" class="py-0">
              <v-select label="order by"
                        :items="sortOptions"
                        item-value="value"
                        item-text="text"
                        v-model="orderBy"
                        @change="updateQuery">
              </v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-row>
    <v-row v-for="(blogsChunk, i) in chunkedBlogs"
           :key="i"
           class="d-flex justify-start news-row px-2">
      <v-card v-for="blog in blogsChunk"
              :key="blog.title"
              class="news-card"
              :to="'/news/' + blog.id">
        <v-img
            :src="blog.cover"
            width="100%"
            height="100%"
            :aspect-ratio="5/7"
            class="pa-6"
        >
          <div class="d-flex flex-column justify-space-between text-center" style="height: 100%">
            <span class="white--text headline font-weight-bold">{{ blog.title }}</span>
            <div>
              <span class="text-uppercase white--text font-weight-light subtitle-1">by</span>
              <br/>
              <span class="white--text title">{{ blog.author }}</span>
            </div>
          </div>
        </v-img>
      </v-card>
    </v-row>
  </div>
</template>

<script>
import lodash from "lodash"
import axios from "axios";
import router from "@/router";

export default {
  name: "News",
  data() {
    return {
      orderBy: "latest",
      selectedSport: null,
      selectedTeam: null,

      sortOptions: [
        {
          text: "Latest",
          value: "latest"
        },
        {
          text: "Best",
          value: "best"
        },
        {
          text: "Alphabet",
          value: "alphabet"
        }
      ],
      sports: [],
      teams: [],

      blogs: []
    }
  },
  computed: {
    chunkedBlogs() {
      return lodash.chunk(this.blogs, 5);
    },
    query() {
      let query = {sort: this.orderBy};
      if (this.selectedSport !== null && !isNaN(this.selectedSport)) {
        query.sport = this.selectedSport
      }
      if (this.selectedTeam !== null && !isNaN(this.selectedTeam)) {
        query.team = this.selectedTeam
      }
      return query
    }
  },
  methods: {
    updateQuery() {
      router.replace({query: this.query});
    },
    requestNews(options) {
      let url = process.env.VUE_APP_SASEP_API_URL + "/news";
      url += "?simple=true&sort=" + (options.sort ? options.sort : "latest");
      if (options.sport) {
        url += "&sport=" + options.sport;
      }
      if (options.team) {
        url += "&team=" + options.team;
      }
      axios.get(url)
           .then(response => this.blogs = response.data)
           .catch(error => console.error(error));
    },
    requestTeams(sport) {
      if (sport) {
        axios.get(process.env.VUE_APP_SASEP_API_URL + "/sports/" + sport + "/teams")
             .then(response => this.teams = response.data)
             .catch(error => console.error(error));
      } else {
        axios.get(process.env.VUE_APP_SASEP_API_URL + "/teams")
             .then(response => this.teams = response.data)
             .catch(error => console.error(error));
      }
    }
  },
  mounted() {
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/sports")
         .then(response => this.sports = response.data)
         .catch(error => console.error(error));
    let query = this.$route.query;
    this.requestTeams(query.sport);
    this.requestNews(query);
    this.orderBy = (query.sort ? query.sort : "latest");
    this.selectedSport = parseInt(query.sport);
    this.selectedTeam = parseInt(query.team);
  },
  watch: {
    '$route.query': function (query) {
      this.requestNews(query);
    },
    '$route.query.sport': function (sport) {
      this.requestTeams(sport);
    },
  }
}
</script>

<style scoped>
  .news-row {
    padding-top: 2vw;
  }

  .news-card {
    width: 18%;
    margin: 0 1%;
  }
</style>