<template>
  <v-container
      class="fill-height mt-10"
      fluid
  >
    <v-row
        align="center"
        justify="center"
    >
      <v-col
          cols="12"
          sm="8"
          md="4"
      >
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              dense
          >
            <v-spacer></v-spacer>
            <v-toolbar-title>Register</v-toolbar-title>
            <v-spacer></v-spacer>

          </v-toolbar>
          <v-card-text>
            <v-form ref="form">
              <v-text-field
                  label="E-Mail"
                  prepend-icon="mdi-email"
                  type="text"
                  v-model="user.email"
                  :rules="[rules.required]"
              />
              <v-text-field
                  label="Username"
                  prepend-icon="mdi-account"
                  type="text"
                  v-model="user.userName"
                  :rules="[rules.required]"
              />
              <v-text-field
                  label="Password"
                  prepend-icon="mdi-lock"
                  type="password"
                  v-model="password1"
                  :rules="[rules.required]"
              />
              <v-text-field
                  label="Repeat Password"
                  prepend-icon="mdi-lock"
                  type="password"
                  v-model="password2"
                  :error-messages="passwordsMatch ? '' : 'Passwords didn\'t match'"
                  :rules="[rules.required]"
                  @input="passwordsMatch = true"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn color="primary" @click="submit" large>Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Register",
  data: () => ({
    password1: "",
    password2: "",
    passwordsMatch: true,
    user: {
      email: "",
      password: "",
      userName: ""
    },
    rules: {
      required(input) {
        return input !== "" || "Field is required"
      }
    }
  }),
  methods: {
    submit() {
      this.$refs.form.validate();
      this.passwordsMatch = this.password1 === this.password2;
      if (this.passwordsMatch) {
        this.user.password = this.password1;

        // code here
      }
    }
  },
}
</script>

<style scoped>

</style>