<template>
  <v-container
      class="fill-height mt-10"
      fluid
  >
    <v-row
        align="center"
        justify="center"
    >
      <v-col
          cols="12"
          sm="10"
          md="6"
      >
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              dense
          >
            <v-spacer></v-spacer>
            <v-toolbar-title>Request contributor rights</v-toolbar-title>
            <v-spacer></v-spacer>

          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="isValid">
              <v-container fluid>
                <v-row no-gutters>
                  <v-col cols="4" class="pr-2">
                    <v-text-field
                        value="I want to contribute to: "
                        disabled
                        solo
                        flat
                        class="text-right-input"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="8">
                    <v-text-field
                        v-model="request.contributionTo"
                        label="Contributions"
                        type="text"
                        :rules="[rules.required]"
                        style="width: 100%"
                        placeholder="a sport, a team, ..."
                    >
                    </v-text-field>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col cols="4" class="pr-2">
                    <v-text-field
                        value="I can: "
                        disabled
                        solo
                        flat
                        class="text-right-input"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="8">
                    <v-checkbox
                        v-model="request.contributionTypes"
                        label="Upload results"
                        value="upload"
                        color="primary"
                    ></v-checkbox>
                    <v-checkbox
                        v-model="request.contributionTypes"
                        label="Add new content (Sports, Teams, etc.)"
                        value="new-content"
                        color="primary"
                        class="ma-0"
                    ></v-checkbox>
                    <v-checkbox
                        v-model="request.contributionTypes"
                        label="Write blog articles"
                        value="blog-articles"
                        color="primary"
                        class="ma-0"
                    ></v-checkbox>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12">
                    <v-textarea
                        v-model="request.application"
                        outlined
                        label="Application"
                        placeholder="Why do you want to contribute, example of work, e.g."
                    >
                    </v-textarea>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn color="primary" @click="submit" large>Submit</v-btn>
            <v-spacer/>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import {inform} from "@/main";
import router from "@/router";

export default {
  name: "RequestContributorRights",
  data: () => ({
    rules: {
      required(input) {
        return input !== "" || "Field is required"
      }
    },
    isValid: true,
    request: {
      type: "contribution-rights",
      contributionTo: "",
      contributionTypes: [],
      application: ""
    }
  }),
  methods: {
    submit() {
      this.$refs.form.validate();
      if (this.isValid) {
        axios.post(process.env.VUE_APP_SASEP_API_URL + "/user/requests", this.request)
             .then(() => {
               inform("Request for contribution rights was send");
               router.back();
             })
      }
    }
  },
}
</script>

<style scoped>
  .text-right-input >>> input {
    text-align: right;
  }
</style>