<template>
  <v-container
      class="fill-height mt-10"
      fluid
  >
    <v-row
        align="center"
        justify="center"
    >
      <v-col
          cols="12"
          sm="10"
          md="6"
      >
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              dense
          >
            <v-spacer></v-spacer>
            <v-toolbar-title>Request access to a private league</v-toolbar-title>
            <v-spacer></v-spacer>

          </v-toolbar>
          <v-card-text>
            <v-alert color="primary" outlined icon="mdi-information">
              The league {{ league.name }} is owned by {{ league.owner }} and was set to private. <br/>
              But you can request access to it by submitting the following form.
            </v-alert>
            <v-textarea
                v-model="request.message"
                outlined
                label="Message (optional)"
                placeholder="Hey, can I see this league ..."
            ></v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn color="primary" @click="submit" large>Request access</v-btn>
            <v-spacer/>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "@/router";
import {inform} from "@/main";

export default {
  name: "RequestLeagueAccess",
  data: () => ({
    league: {},
    request: {
      type: "league-access",
      league: null,
      message: ""
    }
  }),
  mounted() {
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/leagues/" + this.$route.query.league)
         .then(response => this.league = response.data)
         .catch(error => console.error(error));
  },
  methods: {
    submit() {
      this.request.league = this.$route.query.league;
      axios.post(process.env.VUE_APP_SASEP_API_URL + "/user/requests", this.request)
           .then(() => {
             inform("Request to access this league was send");
             router.back();
           })
    }
  },
}
</script>

<style scoped>
</style>