<template>
  <v-container fluid>
    <v-row>
      <v-col offset="1" cols="10">
        <v-card tile>

          <v-toolbar color="primary"
                     dark elevation="3"
                     class="text-center"
          >
            <v-spacer></v-spacer>
            <v-toolbar-title class="display-1">Sports</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>

          <v-tabs
              grow
              background-color="white"
              color="primary"
              v-model="tab"
              v-if="keycloak.authenticated"
          >
            <v-tab href="#all">
              All Sports
            </v-tab>
            <v-tab href="#favorites">
              Favorites
            </v-tab>
          </v-tabs>

          <v-list subheader v-if="displayedSports.length > 0">
            <v-list-group
                v-for="sport in displayedSports"
                :key="sport.id"
            >

              <template v-slot:activator>
                <v-list-item-avatar tile size="80">
                  <v-img :src="baseImageUrl + sport.logo" contain></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title> {{ sport.name }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-icon style="padding: 14px 0">
                  <v-btn icon
                         v-if="keycloak.authenticated"
                         @click.stop="updateInterest(sport.id)"
                  >
                    <v-icon :color="userSports.some(s => s.id === sport.id) ? 'primary' : 'grey lighten-2'">mdi-star
                    </v-icon>
                  </v-btn>
                  <v-btn icon
                         @click.stop
                         :to="{path: 'teams', query: {sportId: sport.id}}">
                    <v-icon>mdi-open-in-new</v-icon>
                  </v-btn>
                </v-list-item-icon>
              </template>

              <v-list-item
                  v-for="league in sport.leagues"
                  :key="league.id"
                  :to="!league.private || allowedLeagues.includes(league.id)?
                       {path: 'teams', query: {league: league.id}} :
                       {name: 'request-league-access', query: {league: league.id}}"
                  style="padding-left: 112px"
              >
                <v-list-item-avatar tile size="80">
                  <v-img :src="baseImageUrl + league.logo"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title v-text="league.name"></v-list-item-title>
                </v-list-item-content>

                <v-list-item-icon style="padding: 14px 0" v-if="league.private">
                  <v-icon v-if="allowedLeagues.includes(league.id)" style="padding-right: 6px">mdi-lock-open</v-icon>
                  <v-hover v-slot:default="{ hover }" v-else>
                    <v-btn icon>
                      <v-icon>{{ hover ? "mdi-lock-open" : "mdi-lock"}}</v-icon>
                    </v-btn>
                  </v-hover>
                </v-list-item-icon>
              </v-list-item>

            </v-list-group>
          </v-list>
          <div v-else-if="error" class="pa-8">
            <v-alert type="error">
              Could not load any sports.
            </v-alert>
          </div>
          <div v-else-if="tab === 'favorites'"  class="pa-8">
            <v-alert type="warning">
              It seams like you don't have any favorites. Start adding some!
            </v-alert>
          </div>
          <div class="text-center py-8" v-else>
            <v-progress-circular
                indeterminate
                color="primary"
                size="100"
            >
            </v-progress-circular>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'
import keycloak from "@/plugins/keycloak";
import {inform} from "@/main";

export default {
  name: "Sports",
  data: () => ({
    sports: [],
    userSports: [],
    allowedLeagues: [],
    keycloak: keycloak,
    baseImageUrl: process.env.VUE_APP_IMAGE_BASE_URL,
    tab: "all",
    error: false
  }),
  methods: {
    loadUserSports() {
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/sports")
           .then(response => {
             this.userSports = response.data;
             this.error = false;
           })
           .catch(() => this.error = true);
    },
    updateInterest(id) {
      if (this.userSports.some(sport => sport.id === id)) {
        axios.delete(process.env.VUE_APP_SASEP_API_URL + "/user/sports/" + id)
             .then(() => {
               inform("You are no longer interested in " + this.sports.find(team => team.id === id).name);
               this.loadUserSports();
             })
             .catch(error => console.error(error))
      } else {
        axios.put(process.env.VUE_APP_SASEP_API_URL + "/user/sports/" + id)
             .then(() => {
               inform("You are now interested in " + this.sports.find(team => team.id === id).name);
               this.loadUserSports();
             })
             .catch(error => console.error(error))
      }
    },
  },
  mounted() {
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/sports")
         .then(response => {
           this.sports = response.data;
           this.error = false;
         })
         .catch(() => this.error = true);

    axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/rights/leagues")
         .then(response => {
           this.allowedLeagues = response.data;
         })
         .catch(() => this.allowedLeagues = []);

    this.loadUserSports()
  },
  computed: {
    displayedSports() {
      if (this.tab === "favorites") {
        return this.userSports
      } else {
        return this.sports
      }
    }
  }
}
</script>

<style scoped>

</style>