<template>
  <v-container fluid>
    <v-row>
      <v-col offset="1" cols="10">
        <v-card tile>

          <v-toolbar color="primary"
                     dark elevation="3"
                     class="text-center"
          >
            <v-spacer></v-spacer>
            <v-toolbar-title class="display-1">Teams</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>

          <v-tabs
              grow
              background-color="white"
              color="primary"
              v-model="tab"
              v-if="keycloak.authenticated && ($route.query.sportId || $route.query.league)"
          >
            <v-tab href="#all">
              All Teams
            </v-tab>
            <v-tab href="#favorites">
              Favorites
            </v-tab>
          </v-tabs>

          <v-list subheader v-if="displayedLeagues.length > 0">

            <div v-for="league in displayedLeagues" :key="league.id">
              <v-subheader class="title" v-if="displayedLeagues.length > 1">
                {{ league.name }}
                <v-spacer></v-spacer>
                <v-icon v-if="league.private">
                  {{ allowedLeagues.includes(league.id) ? "mdi-lock-open" : "mdi-lock"}}
                </v-icon>
              </v-subheader>

              <div v-if="(!league.private || allowedLeagues.includes(league.id))">
                <v-list-item
                    v-for="team in league.teams"
                    :key="team.id"
                    @click="openTeam(team.id)"
                >
                  <v-list-item-avatar tile size="80">
                    <v-img :src="baseImageUrl + team.logo" contain></v-img>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title v-text="team.name"></v-list-item-title>
                  </v-list-item-content>

                  <v-list-item-icon style="padding: 14px 0" v-if="keycloak.authenticated">
                    <v-btn icon
                           @click.stop="updateInterest(team.id)"
                    >
                      <v-icon :color="userTeams.some(t => t.id === team.id) ? 'primary' : 'grey lighten-2'">mdi-star
                      </v-icon>
                    </v-btn>
                  </v-list-item-icon>
                </v-list-item>
              </div>

              <div v-else>
                <v-hover v-slot:default="{ hover }">
                  <v-list-item :to="{name: 'request-league-access', query: {league: league.id}}">
                    <v-list-item-avatar tile size="80">
                      <v-icon color="info" large>mdi-information-outline</v-icon>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>
                        <v-alert color="info" class="mb-0" dark>
                          This is a private league. Click here to request access
                        </v-alert>
                      </v-list-item-title>
                    </v-list-item-content>

                    <v-list-item-icon style="padding: 14px 0">
                      <v-btn icon>
                        <v-icon>{{ hover ? "mdi-lock-open" : "mdi-lock"}}</v-icon>
                      </v-btn>
                    </v-list-item-icon>
                  </v-list-item>
                </v-hover>
              </div>
            </div>
          </v-list>

          <div v-else-if="error" class="pa-8">
            <v-alert type="error">
              Could not load any teams.
            </v-alert>
          </div>

          <div v-else-if="showFavorites"  class="pa-8">
            <v-alert type="warning">
              It seams like you don't have any favorites. Start adding some!
            </v-alert>
          </div>

          <div class="text-center py-8" v-else>
            <v-progress-circular
                indeterminate
                color="primary"
                size="100"
            >
            </v-progress-circular>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'
import router from "@/router";
import keycloak from "@/plugins/keycloak";
import {inform} from "@/main";

export default {
  name: "Teams",
  data: () => ({
    teams: [],
    userTeams: [],
    leagues: [],
    allowedLeagues: [],
    keycloak: keycloak,
    baseImageUrl: process.env.VUE_APP_IMAGE_BASE_URL,
    tab: "all",
    error: false
  }),
  mounted() {
    if (this.$route.query.league) {
      this.leagues = [];
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/leagues/" + this.$route.query.league)
           .then(response => {
             this.loadLeagueTeams(response.data);
             this.error = false;
           })
           .catch(() => this.error = true);
    } else if (this.$route.query.sportId) {
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/sports/" + this.$route.query.sportId)
           .then(response => {
             this.leagues = [];
             response.data.leagues.forEach(league => this.loadLeagueTeams(league));
             this.error = false;
           })
           .catch(() => this.error = true);
    }

    if (keycloak.authenticated) {
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/rights/leagues")
           .then(response => {
             this.allowedLeagues = response.data;
           })
           .catch(() => this.allowedLeagues = []);

      this.loadUserTeams();
    }
  },
  methods: {
    openTeam(id) {
      router.push({name: 'team', params: {id: id}})
    },
    loadUserTeams() {
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/teams")
           .then(response => {
             this.userTeams = response.data;
             this.error = false;
           })
           .catch(() => this.error = true);
    },
    loadLeagueTeams(league) {
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/leagues/" + league.id + "/teams")
           .then(response => {
             league.teams = response.data;
             this.leagues.push(league);
             this.error = false;
           })
           .catch(() => {
             this.error = true;
             this.leagues.push(league);
           });
    },
    updateInterest(id) {
      if (this.userTeams.some(team => team.id === id)) {
        axios.delete(process.env.VUE_APP_SASEP_API_URL + "/user/teams/" + id)
             .then(() => {
               inform("You are no longer interested in " + this.leagues.flatMap(league => league.teams).find(team => team.id === id).name);
               this.loadUserTeams();
             })
             .catch(error => console.error(error))
      } else {
        axios.put(process.env.VUE_APP_SASEP_API_URL + "/user/teams/" + id)
             .then(() => {
               inform("You are now interested in " + this.leagues.flatMap(league => league.teams).find(team => team.id === id).name);
               this.loadUserTeams();
             })
             .catch(error => console.error(error));
      }

    },
  },
  computed: {
    showFavorites() {
      return keycloak.authenticated && (this.tab === "favorites" || (this.$route.query.sportId === undefined && this.$route.query.league !== undefined));
    },
    displayedLeagues() {
      if (this.tab === "all" && (this.$route.query.sportId !== undefined || this.$route.query.league !== undefined)) {
        return this.leagues
      } else if (this.showFavorites) {
        return this.userTeams.length > 0 ? [{teams: this.userTeams}] : []
      }
      return []
    }
  }
}
</script>

<style scoped>

</style>