<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <h1>{{ team.name }}</h1>
      </v-col>
      <v-col class="text-right">
        <v-btn
            text
            icon
            x-large
            :color="interestedIn ? 'primary' : 'grey lighten-2'"
            @click="updateInterest"
            v-if="keycloak.authenticated"
        >
          <v-icon>mdi-star</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col class="team-cell">
        <v-img :src="teamLogo" aspect-ratio="1" @error="imgError" contain></v-img>
      </v-col>
      <v-col cols="7" class="information-cell">
        <h2 class="mb-3">Information</h2>
        <v-simple-table class="elevation-1">
          <template v-slot:default>
            <tbody>
            <tr>
              <td>League</td>
              <td>{{ team.league.name }}</td>
            </tr>
            <tr v-if="team.country">
              <td>Country</td>
              <td>{{ team.country }}</td>
            </tr>
            <tr v-if="team.city">
              <td>City</td>
              <td>{{ team.city }}</td>
            </tr>
            <tr v-if="team.founding">
              <td>Founding</td>
              <td>{{ team.founding }}</td>
            </tr>
            <tr>
              <td>Team ELO</td>
              <td>{{ team.elo }}</td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>

        <h2 class="mt-5 mb-3">Players</h2>
        <v-data-table
            :headers="playerHeaders"
            :items="players"
            :items-per-page="10"
            class="elevation-1"
        ></v-data-table>

        <h2 class="mt-5 mb-3">Matches</h2>
        <v-data-table
            :headers="matchHeaders"
            :items="matches"
            :items-per-page="10"
            class="elevation-1"
        ></v-data-table>
      </v-col>
      <v-col>
        <v-btn class="primary mt-12"
               block
               tile
               x-large
               @click.stop="showSelectTeam=true"
        >
          compare to another Team
        </v-btn>
        <select-team-dialog v-model="showSelectTeam" :on-team-selected="compareToTeam"></select-team-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'
import SelectTeamDialog from "@/components/SelectTeamDialog";
import router from "@/router";
import keycloak from "@/plugins/keycloak";
import {inform} from "@/main";

export default {
  name: "CompareTeams",
  components: {SelectTeamDialog},
  data: () => ({
    keycloak: keycloak,
    team: {league:{}},
    players: [],
    matches: [],
    matchHeaders: [
      {text: "Date", value: "date"},
      {text: "Location", value: "location"},
      {text: "Opponent", value: "opponent"},
      {text: "Result", value: "result"},
    ],
    playerHeaders: [
      {text: "Name", value: "name"},
      {text: "ELO", value: "elo"},
    ],
    interestedIn: null,
    showSelectTeam: false,
  }),
  mounted() {
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/teams/" + this.$route.params.id)
         .then(response => this.team = response.data)
         .catch(error => console.error(error));
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/teams/" + this.$route.params.id + "/players")
         .then(response => this.players = response.data)
         .catch(error => console.error(error));
    if (keycloak.authenticated) {
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/teams")
           .then(response => this.interestedIn = response.data.some(team => team.id === this.team.id))
           .catch(error => console.error(error));
    }
  },
  methods: {
    imgError() {
      this.team.logo = require("../assets/images/default.svg")
    },
    updateInterest() {
      if (this.interestedIn) {
        axios.delete(process.env.VUE_APP_SASEP_API_URL + "/user/teams/" + this.team.id)
             .then(() => {
               inform("You are no longer interested in " + this.team.name);
               this.loadInterests();
             })
             .catch(error => console.error(error));
      } else {
        axios.put(process.env.VUE_APP_SASEP_API_URL + "/user/teams/" + this.team.id)
             .then(() => {
               inform("You are now interested in " + this.team.name);
               this.loadInterests();
             })
             .catch(error => console.error(error));
      }
    },
    loadInterests() {
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/teams")
           .then(response => this.interestedIn = response.data.some(team => team.id === this.team.id))
           .catch(error => console.error(error));
    },
    compareToTeam(team2) {
      router.push({
                    path: "/compare",
                    query:
                      {
                        team1: this.team.id,
                        team2: team2.id
                      }
                  })
    }
  },
  computed: {
    teamLogo() {
      return this.team.logo ? (process.env.VUE_APP_IMAGE_BASE_URL + this.team.logo) : require('../assets/images/default.svg')
    }
  }
}
</script>

<style scoped>
  .information-cell h2 {
    margin-left: 5%;
  }
</style>