<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <p><span class="display-1">Hello, {{ name }}!</span> Here you can see your interests ...</p>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col cols="6" offset="3">
        <p class="mb-3 headline">Sports</p>
        <v-simple-table class="elevation-1">
          <template v-slot:default>
            <tbody>
            <tr v-for="sport in sports"  :key="sport.id">
              <td>{{ sport.name }}</td>
              <td class="text-right">
                <v-btn color="red"
                       tile
                       dark
                       @click="removeSport(sport.id)"
                >
                  Remove
                </v-btn>
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>

        <p class="mt-5 mb-3 headline">Teams</p>
        <v-simple-table class="elevation-1">
          <template v-slot:default>
            <tbody>
            <tr v-for="team in teams" :key="team.id">
              <td>{{ team.name }}</td>
              <td class="text-right">
                <v-btn color="red"
                       tile
                       dark
                       @click="removeTeam(team.id)"
                >
                  Remove
                </v-btn>
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'
import keycloak from "@/plugins/keycloak";

export default {
  name: "CompareTeams",
  data: () => ({
    name: "Not available",
    sports: [],
    teams: [],
    changeNameDialog: false,
    changePasswordDialog: false,
  }),
  mounted() {
    keycloak.loadUserProfile().then(res => {
      this.name = res.username
    }).catch(err => {
      if (keycloak.authenticated) {
        console.log(err)
      }
    });

    axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/sports")
         .then(response => this.sports = response.data)
         .catch(error => console.error(error));
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/teams")
         .then(response => this.teams = response.data)
         .catch(error => console.error(error));
  },
  methods: {
    removeSport(sportId) {
      axios.delete(process.env.VUE_APP_SASEP_API_URL + "/user/sports/" + sportId)
           .catch(error => console.error(error));
    },
    removeTeam(teamId) {
      axios.delete(process.env.VUE_APP_SASEP_API_URL + "/user/teams/" + teamId)
           .catch(error => console.error(error));
    }
  }
}
</script>

<style scoped>
</style>