<template>
  <v-card class="mx-2 mt-4 pa-0">
    <v-container fluid class="pa-0">
      <v-row no-gutters>
        <v-col cols="2">
          <v-list color="primary" dark height="100%">
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="title">
                  Menu
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item-group max="0" multiple>
              <v-list-item
                  v-for="(item, i) in visibleMenuItems"
                  :key="i"
                  @click="item.action"
                  :disabled="item.disabled()"
              >
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>

            <v-divider></v-divider>

            <v-subheader>Recent posts</v-subheader>
            <v-list-item-group max="0" multiple>
              <v-list-item
                  v-for="(post, i) in recentPosts"
                  :key="i"
                  :to="{name:'write-blog-id',  params: {id: post.id}}"
              >
                <v-list-item-content>
                  <v-list-item-title v-text="post.title"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-col>

        <v-col class="pa-4">
          <v-text-field
              label="Title"
              solo
              v-model="blog.title"
              @change="hasUnsavedChanges = true"
          ></v-text-field>
          <v-textarea
              label="Blog text"
              solo
              rows="30"
              counter
              v-model="blog.content"
              @change="hasUnsavedChanges = true"
          ></v-textarea>
        </v-col>
      </v-row>
    </v-container>
    <UploadImage :visible="uploadImageVisible"
                 @close="uploadImageVisible = false"
                 v-model="blog.cover"
                 @change="hasUnsavedChanges = true"
    />
  </v-card>
</template>

<script>
import UploadImage from "@/components/UploadImage";
import router from "@/router";
import axios from "axios";

export default {
  name: "WriteBlog",
  components: {UploadImage},
  data() {
    return {
      menuItems: [
        {
          text: "Upload cover",
          icon: "mdi-upload",
          visible: () => true,
          disabled: () => false,
          action: () => this.uploadImageVisible = true
        },
        {
          text: "Save",
          icon: "mdi-content-save-outline",
          visible: () => true,
          disabled: () => !this.hasUnsavedChanges,
          action: this.save
        },
        {
          text: "Preview",
          icon: "mdi-eye",
          visible: () => true,
          disabled: () => false,
          action: () => {
            this.save();
            router.push({name: "preview", params: {id: "1"}});
          }
        },
        {
          text: "Publish",
          icon: "mdi-publish",
          visible: () => !this.blog.published,
          disabled: () => false,
          action: () => {
            this.blog.published = true;
            this.save();
          }
        },
        {
          text: "Show blog",
          icon: "mdi-open-in-new",
          visible: () => this.blog.published,
          disabled: () => false,
          action: () => {
            router.push({name: "article", params: {id: "1"}});
          }
        },
      ],
      recentPosts: [
        {
          title: "Some cool CSGO event ",
          cover: "https://gitlab.com/sasep-clairvoyance/sasep-frontend/-/raw/develop/src/assets/images/logos/sports/CSlogo.png",
          id: 1,
          author: "Someone"
        },
        {
          title: "Some cool CSGO event",
          cover: "https://gitlab.com/sasep-clairvoyance/sasep-frontend/-/raw/develop/src/assets/images/logos/sports/CSlogo.png",
          id: 2,
          author: "Someone"
        },
        {
          title: "Some cool CSGO event",
          cover: "https://gitlab.com/sasep-clairvoyance/sasep-frontend/-/raw/develop/src/assets/images/logos/sports/CSlogo.png",
          id: 3,
          author: "Someone"
        },
        {
          title: "Some cool CSGO event",
          cover: "https://gitlab.com/sasep-clairvoyance/sasep-frontend/-/raw/develop/src/assets/images/logos/sports/CSlogo.png",
          id: 4,
          author: "Someone"
        },
        {
          title: "Some cool CSGO event",
          cover: "https://gitlab.com/sasep-clairvoyance/sasep-frontend/-/raw/develop/src/assets/images/logos/sports/CSlogo.png",
          id: 5,
          author: "Someone"
        }, {
          title: "Some cool CSGO event",
          cover: "https://gitlab.com/sasep-clairvoyance/sasep-frontend/-/raw/develop/src/assets/images/logos/sports/CSlogo.png",
          id: 6,
          author: "Someone"
        }, {
          title: "Some cool CSGO event",
          cover: "https://gitlab.com/sasep-clairvoyance/sasep-frontend/-/raw/develop/src/assets/images/logos/sports/CSlogo.png",
          id: 7,
          author: "Someone"
        }
      ],
      uploadImageVisible: false,
      hasUnsavedChanges: false,

      blog: {
        title: "",
        cover: "",
        tags: [],
        content: "",
        published: false
      }
    }
  },
  methods: {
    save() {
      this.hasUnsavedChanges = false;
      if (this.blog.id) {
        axios.post(process.env.VUE_APP_SASEP_API_URL + "/news/" + this.blog.id, this.blog)
             .then(() => console.log("Successfully saved blog"))
             .catch(error => console.error(error));
      } else {
        axios.post(process.env.VUE_APP_SASEP_API_URL + "/news", this.blog)
             .then(response => {
               this.blog.id = response.data;
               console.log("Successfully saved blog")
             })
             .catch(error => console.error(error));
      }
      console.log(this.blog);
    },
  },
  mounted() {
    if (this.$route.params.id) {
      axios.get(process.env.VUE_APP_SASEP_API_URL + "/news/" + this.$route.params.id)
           .then(response => this.blog = response.data)
           .catch(error => console.error(error));
    }
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/user/contribution/news/?limit=10")
         .then(response => this.recentPosts = response.data)
         .catch(error => console.error(error));
  },
  computed: {
    visibleMenuItems() {
      return this.menuItems.filter(item => item.visible())
    }
  }
}
</script>

<style scoped>

</style>