<template>
  <v-hover v-slot:default="{ hover }">
    <v-img :src="baseImageUrl + (logo ? item.logo : item.thumbnailUrl)"
           width="100%"
           aspect-ratio="2"
           :contain="logo"
           :class="{white: logo}"
    >
      <div class="v-card--reveal display-3 v-btn dummy">
        <span ref="name-dummy" :style="style">{{ item.name }}</span>
      </div>
      <v-expand-transition>
        <v-btn
            v-if="hover"
            class="transition-fast-in-fast-out v-card--reveal display-3"
            :class="logo ? 'grey--text text--darken-2' : 'white--text'"
            :color="item.backColor ? item.backColor : 'grey lighten-4'"
            style="height: 100%;"
            @click="onItemSelected(item)"
        >
          <span :style="style">{{ item.name }}</span>
        </v-btn>
      </v-expand-transition>
    </v-img>
  </v-hover>
</template>

<script>
export default {
  name: "ImageCard",
  props: {
    item: {
      imageUrl: String,
      name: String,
      backColor: String
    },
    onItemSelected: Function,
  },
  data: () => ({
    hover: true,
    style: {
      "font-size": "60px"
    },
    baseImageUrl: process.env.VUE_APP_IMAGE_BASE_URL
  }),
  methods: {
    updateFontSize() {
      let fontSize = parseFloat(this.style["font-size"]);
      let elWidth = this.$el.clientWidth;
      let textWidth = this.$refs["name-dummy"].offsetWidth;

      this.style["font-size"] = (fontSize * ((elWidth * 0.6) / textWidth)) + "px";
    }
  },
  mounted() {
    window.addEventListener('resize', this.updateFontSize);
    this.updateFontSize();
  },
  destroyed() {
    window.removeEventListener('resize', this.updateFontSize)
  },
  computed: {
    logo() {
      return !this.item.thumbnailUrl
    }
  }
}
</script>

<style scoped>

  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .75;
    position: absolute;
    width: 100%;
  }

  .dummy {
    visibility: hidden;
  }

</style>