<template>
  <div class="grid" :class="'columns-' + getGridWidth()">
    <image-card v-for="item in itemsToDisplay"
                :item="item"
                :class="item.size"
                :on-item-selected="onItemSelected"
                :team="teams"
    />
  </div>

</template>

<script>
import ImageCard from "@/components/ImageCard";
import gridConfigurations from "@/assets/grid-configurations";

export default {
  name: "ImageGrid",
  components: {ImageCard},
  props: {
    items: Array,
    onItemSelected: Function,
    teams: {
      type: Boolean,
      default: false,
    }
  },
  data: () => ({
    itemsToDisplay: []
  }),
  methods: {
    getGridWidth() {
      let aspectRatio = window.innerWidth / window.innerHeight;
      if (aspectRatio < 0.6) {
        return 1;
      } else if (aspectRatio < 1) {
        return 2;
      } else if (Math.round(window.innerWidth / 350) === 3) {
        return 3;
      } else if (Math.round(window.innerWidth / 350) === 4) {
        return 4;
      } else {
        return 5;
      }
    },
    handleResize() {
      if (this.items.length > 0) {
        this.items.forEach(item => item.size = "");
        let gridWidth = this.getGridWidth();
        if (gridWidth === 1) {
          this.itemsToDisplay = [...this.items];
        } else if (gridWidth === 2) {
          this.configureGridWithTwoColumns();
        } else {
          this.applyGridConfig(gridWidth);
        }
      }
    },
    configureGridWithTwoColumns() {
      let even = true;
      let length = this.items.length;
      this.itemsToDisplay = [...this.items];
      for (let i = 0; i < length; i++) {
        let number = length - i;
        if (number > 2) {
          if (even) {
            this.itemsToDisplay[i].size = "span-2";
            i += 2;
          } else {
            i += 2;
            this.itemsToDisplay[i].size = "span-2";
          }
          even = !even;
        } else if (number === 2) {
          i += 2;
        } else {
          this.itemsToDisplay[i].size = "span-2";
        }
      }
    },
    applyGridConfig(gridWidth) {
      let gridConfig = gridConfigurations[gridWidth];
      let items = this.items;
      while (items.length < gridConfig.imageCount) {
        items = items.concat(JSON.parse(JSON.stringify(this.items)));
      }
      this.itemsToDisplay = items.slice(0, gridConfig.imageCount);
      gridConfig.imageSizes.forEach(imageSize => {
        this.itemsToDisplay[imageSize.image].size = imageSize.size;
      });
    }
  },
  watch: {
    items() {
      this.handleResize();
    }
  },
  created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize)
  }
  ,
}
</script>

<style scoped>
  .grid {
    display: grid;
    grid-gap: 2px;
  }

  .grid.columns-1 {
    grid-template-columns: auto;
  }

  .grid.columns-2 {
    grid-template-columns: auto auto;
  }

  .grid.columns-3 {
    grid-template-columns: repeat(3, auto);
  }

  .grid.columns-4 {
    grid-template-columns: repeat(4, auto);
  }

  .grid.columns-5 {
    grid-template-columns: repeat(5, auto);
  }

  .span-2 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .span-3 {
    grid-column: span 3;
    grid-row: span 3;
  }
</style>