<template>
  <v-dialog
      v-model="show"
      max-width="95%"
  >
    <v-card>
      <v-toolbar dense color="primary" dark>
        <v-spacer></v-spacer>
        <v-toolbar-title>Select a team</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
            icon
            text
            @click.stop="show = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text>
        <v-list subheader>
          <v-subheader class="title">League XYZ</v-subheader>

          <v-list-item
              v-for="team in teams"
              :key="team.id"
              @click="onItemClicked(team)"
          >
            <v-list-item-avatar tile size="80">
              <v-img :src="baseImageUrl + team.logo"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-text="team.name"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from "axios";

export default {
  name: "SelectTeamDialog",
  props: {
    value: Boolean,
    onTeamSelected: Function,
  },
  data: () => ({
    teams: [],
    baseImageUrl: process.env.VUE_APP_IMAGE_BASE_URL,
  }),
  mounted() {
    axios.get(process.env.VUE_APP_SASEP_API_URL + "/sports/1/teams")
         .then(response => this.teams = response.data)
         .catch(error => console.error(error));
  },
  methods: {
    onItemClicked(item) {
      this.show = false;
      this.onTeamSelected(item)
    }
  },
  computed: {
    show: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped>

</style>