<template>
  <v-dialog
      v-model="visible"
      max-width="95%"
  >
    <v-card>
      <v-toolbar dense color="primary" dark>
        <v-spacer></v-spacer>
        <v-toolbar-title>Upload an image</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
            icon
            text
            @click.stop="$emit('close')">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text>
        <v-container fluid>
          <v-row>
            <v-file-input accept="image/*"
                          label="Cover"
                          prepend-icon="mdi-camera"
                          v-model="image"
            ></v-file-input>
          </v-row>
          <v-row v-if="preview!==''">
            <v-col class="d-flex justify-space-around">
              <div style="width: 50vh; height: 70vh">
                <v-img :src="preview"
                       :aspect-ratio="5/7"></v-img>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "UploadImage",
  props: {
    value: String,
    visible: Boolean
  },
  data() {
    return {
      preview: ""
    }
  },
  mounted() {
    this.preview = this.value
  },
  computed: {
    image: {
      get() {
        return null
      },
      set(image) {
        const reader = new FileReader();
        reader.readAsDataURL(image);
        reader.onload = e => {
          this.$emit('input', e.target.result);
          this.$emit('change', e.target.result);
          this.preview = e.target.result
        }
      }
    }
  },
}
</script>

<style scoped>

</style>