<template>
  <v-app>
    <v-app-bar app color="primary" dark>

        <v-avatar color="white">
          <img
              src="./assets/clairvoyance.png"
              alt="Clairvoyance"
          >
        </v-avatar>

      <router-link to="/">
        <v-toolbar-title class="headline text-uppercase white--text ml-3">
          <span>clairvoyance</span>
        </v-toolbar-title>
      </router-link>

      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn text v-if="showToday">Today</v-btn>
        <v-btn text to="/sports">Sports</v-btn>
        <v-btn text to="/teams" v-if="showTeams">Teams</v-btn>
        <v-btn text to="/news" v-if="showNews">News</v-btn>
      </v-toolbar-items>

      <v-btn icon v-if="showSearch">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-divider
          class="mx-4"
          inset
          vertical
      ></v-divider>

      <v-toolbar-items>
        <v-menu
            offset-y
            left
            v-if="keycloak.authenticated"
            v-model="menuOpen"
        >
          <template v-slot:activator="{ on }">
            <v-btn
                text
                v-on="on"
            >
              {{ name }}
              <v-icon v-if="menuOpen">mdi-chevron-up</v-icon>
              <v-icon v-else>mdi-chevron-down</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item @click="keycloak.accountManagement()">
              <v-list-item-icon><v-icon>mdi-cog</v-icon></v-list-item-icon>
              <v-list-item-title>Profile Settings</v-list-item-title>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item :to="{name:'profile'}">
              <v-list-item-icon><v-icon>mdi-star</v-icon></v-list-item-icon>
              <v-list-item-title>Interests</v-list-item-title>
            </v-list-item>
            <v-list-item :to="{name:'contribute'}">
              <v-list-item-icon><v-icon>mdi-pencil-box-multiple</v-icon></v-list-item-icon>
              <v-list-item-title>Contribute</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>
      <v-btn icon @click="keycloak.logout()" v-if="keycloak.authenticated">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      <v-btn icon
             @click="keycloak.login()"
             v-else>
        <v-icon>mdi-login</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <div style="margin-bottom: 72px">
        <router-view>router</router-view>
      </div>
    </v-content>

    <v-footer
        absolute
        class="font-weight-medium"
    >
      <v-row
          justify="center"
          no-gutters
      >
        <v-btn text>Help</v-btn>
        <v-btn text>Impressum - Legal Disclosure</v-btn>
        <v-col
            class="text-center"
            cols="12"
        >
          {{ new Date().getFullYear() }} — <strong>Team Clairvoyance</strong>
        </v-col>
      </v-row>
    </v-footer>

    <notifications group="error" position="bottom left" id="error-messages">
      <template slot="body" slot-scope="props">
        <v-alert type="error"
                 class="ml-2 mb-1"
                 border="left">
          {{ props.item.text }}
        </v-alert>
      </template>
    </notifications>
    <notifications group="info" position="bottom left" id="info-messages">
      <template slot="body" slot-scope="props">
        <v-alert type="info"
                 class="ml-2 mb-1"
                 border="left">
          {{ props.item.text }}
        </v-alert>
      </template>
    </notifications>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import keycloak from "@/plugins/keycloak";

export default Vue.extend({
                              name: "App",
                              data: () => ({
                                  name: "",
                                  keycloak: keycloak,

                                  showToday: false,
                                  showTeams: false,
                                  showNews: true,
                                  showSearch: false,

                                  menuOpen: false,
                              }),
                              mounted(): void {
                                  keycloak.loadUserProfile().then(res => {
                                      this.name = res.username!
                                  }).catch(err => {
                                      if (keycloak.authenticated) {
                                          console.log(err)
                                      }
                                  })
                              }
                          })
;
</script>
